services:
  next-app:
    container_name: next-app
    build:
      context: .
    ports:
      - "3000:3000"
    tty: true
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
